* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #161815;
    color: white;
}

hr {
    border-color: white;
}

.anclaFooter {
    color: white;
}

html {
    scroll-behavior: smooth;
}

.anclaPr {
    text-decoration: none;
    color: white;
}

.rounded-box {
    max-width: 600px;
    padding: 40px;
}

@keyframes separador {
    0% {
        content: "";
    }
    10% {
        content: ".";
    }
    20% {
        content: "..";
    }
    30% {
        content: "...";
    }
    40% {
        content: "..";
    }
    50% {
        content: ".";
    }
    60% {
        content: "";
    }
}

#puntos::after {
    content: "";
    display: inline-block;
    animation: separador 4s infinite;
}